/* Le reste de votre CSS reste inchangé */
body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 50%, #82fc9a 100%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
}

#user-info, #room-code-display {
    margin-bottom: 20px;
}

#game-info {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

#connexion {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
    margin: auto;
}

#create-room {
    background-color: rgba(224, 147, 234, 0.288);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    color: #ffffff;
}

#join-room {
    background-color: rgba(236, 234, 234, 0.5);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    color: #ffffff;
    justify-content: center;
}

h2 {
    font-family: "Titan One", sans-serif;
    font-size: 2rem;
    -webkit-text-stroke: 0.5px rgba(240, 167, 135, 0.749);
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input {
    min-height: 50px;
    padding: 1 1rem;
    color: #ffffff;
    font-size: 15px;
    border: 2px solid #FF7F3E;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 10px;
    margin: 10px 0;
}

.button--submit {
    min-height: 50px;
    background-color: #FF7F3E;
    border: none;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    padding: 0 20px;
    transition: background-color .3s ease-in-out;
}

.button--submit:hover {
    background-color: #5e5dcd;
}

.input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
}

#code {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

#timer-bar-container {
    width: 100%;
    background-color: #cccccc;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
}

#timer-bar {
    height: 20px;
    background-color: #4caf50;
    width: 100%;
    transition: width 1s linear;
}

#start-game {
    display: none; /* Ensure the start button is hidden initially */
}
