body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 50%, #82fc9a 100%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
}

#user-info, #room-code-display {
    margin-bottom: 20px;
}

#game-info {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

.grayscale {
    filter: grayscale(100%);
}

#connexion {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
    margin: auto;
}

#create-room {
    background-color: rgba(224, 147, 234, 0.288);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    color: #ffffff;
}

#join-room {
    background-color: rgba(236, 234, 234, 0.5);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    color: #ffffff;
    justify-content: center;
}

h2 {
    font-family: "Titan One", sans-serif;
    font-size: 2rem;
    -webkit-text-stroke: 0.5px rgba(240, 167, 135, 0.749);
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input {
    min-height: 50px;
    padding: 1 1rem;
    color: #ffffff;
    font-size: 15px;
    border: 2px solid #FF7F3E;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 10px;
    margin: 10px 0;
}

.button--submit, #start-game {
    min-height: 50px;
    background-color: #FF7F3E;
    border: none;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    padding: 0 20px;
    transition: background-color .3s ease-in-out;
}

.button--submit:hover {
    background-color: #5e5dcd;
}

.input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
}

#code {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

#timer-bar-container {
    width: 100%;
    background-color: #cccccc;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
}

#timer-bar {
    height: 20px;
    background-color: #4caf50;
    width: 100%;
    transition: width 1s linear;
}

#start-game {
    display: none;
    margin: 30px auto;
    font-family: Titan One;
}

#users, #user-info {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

#users li {
    margin: 0 10px;
}

#players li {
    width: min-content;
    margin-bottom: 20px;
}

#players p {
    margin-bottom: 0px;
}

#users li img, #my-player img, #players li img {
    width: 100px;
    border: 5px white solid;
    border-radius: 20px;
}

#users p, #my-player p, #players li p {
    margin-top: 2px;
    text-align: center;
    font-family: Titan One;
    color: purple;
    font-size: 1.25rem;
}

#chat-room p {
    text-align: center;
    font-family: Titan One;
    letter-spacing: 1.5px;
}

#alert-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
.rounded-md {
    border-radius: 0.5rem;
}

.bg-yellow-50 {
    background-color: #fefcbf;
}
.text-yellow-400 {
    color: #ecc94b;
}
.text-yellow-700 {
    color: #b7791f;
}
.text-yellow-800 {
    color: #975a16;
}

/* Success */
.bg-green-50 {
    background-color: #f0fff4;
}
.text-green-400 {
    color: #48bb78;
}
.text-green-700 {
    color: #2f855a;
}
.text-green-800 {
    color: #276749;
}

/* Danger */
.bg-red-50 {
    background-color: #fff5f5;
}
.text-red-400 {
    color: #fc8181;
}
.text-red-700 {
    color: #e53e3e;
}
.text-red-800 {
    color: #c53030;
}
